<!-- site wide head element -->
<head>
  <title><%- (function(){ try{ return title }catch(e){ return 'canvas examples' } }()); %></title>
  <style>
body{
  background:#1a1a1a;
  color:white;
}
a:link{color:lime;}
a:visited{color:green;}
a:hover{color:white;}
  </style>
</head>