<!-- site wide head element -->
<head>
  <title><%- (function(){ try{ return title }catch(e){ return 'canvas examples' } }()); %></title>
  <style>
body{
  margin: 0px;
  padding: 0px;
  background:#1a1a1a;
  color:white;
}

.warp_main{
  margin: 0px;
  padding: 10px;
}
.warp_header{
  margin-bottom:10px;
  background:#0f0f0f;
  height:200px;
}
.warp_content{
  padding: 10px;
  margin: 0px;
  background:#0f0f0f;
}

a:link{color:lime;}
a:visited{color:green;}
a:hover{color:white;}
  </style>
</head>