<!-- site wide head element -->
<head>
  <title><%- (function(){ try{ return title }catch(e){ return 'canvas examples' } }()); %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <style>
body {
  margin: 0px;
  padding: 0px;
  background:#1a1a1a;
  color:white;
}

/* canvas element */

@media (max-width: 399px) {
  #canvas-app {
    margin: -10px;
    width: 260px;
    height: 195px;
    margin-left:auto;
    margin-right:auto;
  }
  .canvas_example {
    width: 260px;
    height: 195px;
  }
}

@media (min-width: 400px) and (max-width: 799px) {
  #canvas-app {
    margin: 0px;
    width: 320px;
    height: 240px;
    margin-left:auto;
    margin-right:auto;
  }
  .canvas_example {
    width: 320px;
    height: 240px;
  }
}

@media (min-width: 800px){
  #canvas-app {
    margin: 0px;
    width: 640px;
    height: 480px;
    margin-left:auto;
    margin-right:auto;
  }
  .canvas_example {
    width: 640px;
    height: 480px;
  }
}


.warp_main {
  margin: 0px;
  padding: 10px;
}
.warp_header {
  margin-bottom:10px;
  background:#0f0f0f;
  height:200px;
}
.warp_content {
  padding: 10px;
  margin: 0px;
  background:#0f0f0f;
}
.warp_footer {
  margin-top:10px;
  background:#0f0f0f;
  height:200px;
}

a:link {color:lime;}
a:visited {color:green;}
a:hover {color:white;}
  </style>
</head>