<!DOCTYPE html>
<html lang="en">

<%- include('_part/head') %> 

<body>

<div class="warp_main">
<%- include('_part/header') %>
<div class="warp_content">

<h1>canvas examples</h1>

<!-- Main canvas example list -->
<% (for_post_list || []).forEach(function(exampleName){  %>
    <a href="/current/<%= exampleName %>" ><%= exampleName %></a></br>
<% }); %>

</div>
</div>
</body>

</html>